.example-popup-parent {
    position: absolute;
    top: 0;
    left: 50px;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.example-popup {
    background-color: darkgoldenrod;
    width: 300px;
    height: 500px;
}